{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil-client.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <h2 class="text-uppercase form_title font-weight-bold">Mon Espace PRO</h2>
        <span class="title_line"></span>
            <div class="row">
                <div class="col-12 col-md-8 offset-1">
                    Bienvenue sur l'interface de gestion de vos prestations, <br>
                    vous permettant d'ajouter et/ou supprimer une ou des prestations à votre profil.<br><br>
                    Ajoutez votre première prestation !
                </div>
            </div>
        <br>
        <div class="row">
        <div class="col-12">
            {{ form_start(form) }}
            <h4 class="text-uppercase offset-1">Ajouter une prestation</h4>
            <span class="title_line offset-1 col-xl-3"></span>
        <div class="col-xl-4 offset-1 form-group">
            {{ form_widget(form.categorie) }}
        </div>
        <div class="col-xl-4 offset-1 form-group">
            {{ form_widget(form.nom) }}
        </div>
        <div class="col-xl-4 offset-1 form-group">
        {{ form_row(form.duree) }}
        </div>
        <div class="col-xl-4 offset-1 form-group">
            {{ form_widget(form.prix) }}
        </div>
        <div class="col-xl-4 offset-1 form-group">
            {{ form_widget(form.description) }}
        </div>

            <div class="form-btn-group offset-1 offset-md-9">
            <button type="submit" class="inscription_form_button">
                Valider
            </button>
            </div>
        {{ form_end(form) }}
            <br>
            <div class="col-4 offset-8 btn-retour">
                <a href="{{ path('modification_profil_prestataire') }}" class="inscription_form_button">
                    Retour
                </a>
            </div>
            <h4 class="text-uppercase offset-1">Ma liste de Prestations</h4>
            <span class="title_line offset-1 col-xl-3"></span>
            <div class="prestation-list col-10">
            {% for prestation in prestataire.prestation %}

                <div>
                    <h6>
                        Nom de la préstation : {{ prestation.nom }}
                    </h6>
                    <p> Prix : {{ prestation.prix }}€</p>
                    <p> Durée : {{ prestation.duree|date('H:i') }}</p>
                    <p> Catégorie : {{ prestation.categorie }}</p>
                    <p> Déscription : {{ prestation.description }}</p>
                </div>

            {% endfor %}
            </div>


            </div>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}