{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <div class="inscription_container row">
            <div class="left col-md-5 col-xl-4 order-2 order-md-1">
                <h2 class="text-uppercase font-weight-bold">Bienvenue</h2>
                <br>
                <h3 class="text-uppercase">Client-e ou professionnel-le</h3>
                <br>
                <p class="text-uppercase">
                    l'incription a BOOKR vous donnera accès a
                    <span class="d-block"></span>
                    Un service complet de réservation
                    <span class="d-block"></span>
                    De prestations esthétiques :
                    <span class="d-block"></span>
                </p>
                <ul class="liste_prestation">
                    <li class="text-uppercase">- Coiffure</li>
                    <li class="text-uppercase">- Barbier</li>
                    <li class="text-uppercase">- Make Up Artist</li>
                    <li class="text-uppercase">- Beauté des mains et des pieds:</li>
                        <li>Manucure, Pose de prothèse, Pédicure</li>
                    <li class="text-uppercase">- Beauté du regard :</li>
                        <li>Entretien/Extensions des cils et sourcils</li>
                </ul>
                <p class="text-uppercase">
                    Votre compte client vous offre également la possibilité de créer
                    un profil professionnel "prestataire".
                    <span class="d-block"></span>
                    Pour plus d'informations, veuillez vous référer à notre rubrique :
                    <span class="d-block"></span>
                    <a class="lien_devenir_prestataire" href="#">DEVENEZ PRESTATAIRE</a>
                </p>
            </div>
            <div class="right col-md-6 col-xl-7 order-1 order-md-2">
                <div class="inscription_form">
                     <h2 class="text-uppercase inscription_form_title font-weight-bold">Votre inscription</h2>
                     <span class="title_line"></span>
                     <div class="row">
                         <div class="col-xl-6">
                             {{ form_start(form) }}

                             <div class="col-xl-4">
                                 {{ form_widget(form.civilite) }}
                             </div>
                             <br>
                             <div class="col-xl-9">
                                 {{ form_widget(form.nom) }}
                             </div>
                             <div class="col-xl-9">
                                 {{ form_widget(form.prenom) }}
                             </div>
                             <br>
                             <div class="col-xl-10">
                                 <p>Date de naissance : </p>
                                 {{ form_widget(form.date_de_naissance) }}
                             </div>
                             <div class="col-xl-12">
                                 {{ form_widget(form.adresse) }}
                             </div>
                             <div class="col-xl-12">
                                 <div class="row">
                                     <div class="col-xl-6">
                                         {{ form_widget(form.ville) }}
                                     </div>
                                     <div class="col-xl-6">
                                         {{ form_widget(form.cp) }}
                                     </div>
                                 </div>
                             </div>
                         </div>
                         <div class="col-xl-6 inscription_form_right">
                             <br>
                             <div class="col-xl-10">
                                 {{ form_widget(form.email) }}
                             </div>
                             <div class="col-xl-8">
                                 {{ form_widget(form.tel) }}
                             </div>
                             <!-- les 3 <br> sont à améliorer -->
                             <br><br><br>
                             <div class="col-xl-8">
                                 {{ form_widget(form.pseudo) }}
                             </div>
                             <div class="col-xl-8">
                                 {{ form_widget(form.plainPassword) }}
                             </div>
                         </div>
                         <div class="form-btn-group offset-1 offset-xl-9">
                             <button type="submit" class="inscription_form_button">
                                 Valider
                             </button>
                         </div>
                         {{ form_end(form) }}
                     </div>

               </div>



            </div>
        </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
