{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/affichage_prestataire.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}" />
{% endblock %}
 {% block body %}
     {% block header %}
         {{ parent() }}
     {% endblock %}
     {% block content %}
         <div class="container fiche_prestataire">
             <div class="result-content col-12">
             <div class="col-9 prestataire-infos ">
                 <h2>{{ prestataire.nomEntreprise}} {#- <span>{{ prestataire.villeEntreprise}}</span>#}</h2>
                 <h4><i class="fas fa-map-marker-alt"></i> {{ prestataire.adresseEntreprise}}, {{ prestataire.cpEntreprise}} {{ prestataire.villeEntreprise}}</h4>
                 <div class="col-12">

                     <div class="col-5 img_avatar">
                         <img src="{{ asset('img/' ~ prestataire.avatar) }}" alt="logo attente">
                     </div>


                     <div class="col-7 descrip-prestataire">
                         <p>{{ prestataire.descriptionEntreprise }}</p>
                     </div>
                 </div>
             </div>

             <div class="col-3 col-md-3 left-info">
                 <p><span>Type de profession</span>:<br> {{ prestataire.profession|join(' | ')}}</p>
                 <p><span>Lieu de prestation</span>:<br> {{ prestataire.lieuPrestation|join(' | ')}}</p>
                 <p class="jour-dispo"><span class="label-jour">Jour disponibles</span>:<br>
                     {% for jours in prestataire.jour %}
                         {% if jours == 1 %}
                             <span>Lundi</span>
                         {% elseif jours == 2 %}
                             <span>Mardi</span>
                         {% elseif jours == 3 %}
                             <span>Mercredi</span>
                         {% elseif jours == 4 %}
                             <span>Jeudi</span>
                         {% elseif jours == 5 %}
                             <span>Vendredi</span>
                         {% elseif jours == 6 %}
                             <span>Samedi</span>
                         {% elseif jours == 7 %}
                             <span>Dimanche</span>
                         {% endif%}
                     {% endfor %}
                 </p>
             </div>
             </div>
             <table class="table col-10 table-horaire">
                 <thead>
                    <tr>
                        <th>Jour</th>
                        <th>Ouverture</th>
                        <th>Fermeture</th>
                    </tr>
                 </thead>
                 <tbody>
                 {% for jour in prestataire.jour %}
                     {% if jour == 1  %}
                             <tr>
                                 <td>Lundi</td>
                                 <td>{{ prestataire.horaires.lundiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.lundiFermeture|date('H:i') }}</td>
                             </tr>
                     {% elseif jour == 2  %}
                             <tr>
                                 <td>Mardi</td>
                                 <td>{{ prestataire.horaires.mardiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.mardiFermeture|date('H:i') }}</td>
                             </tr>
                     {% elseif jour == 3  %}
                            <tr>
                                 <td>Mercredi</td>
                                 <td>{{ prestataire.horaires.mercrediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.mercrediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 4  %}
                            <tr>
                                 <td>Jeudi</td>
                                 <td>{{ prestataire.horaires.jeudiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.jeudiFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 5  %}
                            <tr>
                                 <td>Vendredi</td>
                                 <td>{{ prestataire.horaires.vendrediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.vendrediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 6  %}
                            <tr>
                                 <td>Samedi</td>
                                 <td>{{ prestataire.horaires.samediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.samediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 7  %}
                            <tr>
                                <td>Dimanche</td>
                                <td>{{ prestataire.horaires.dimancheOuverture|date('H:i') }}</td>
                                <td>{{ prestataire.horaires.dimancheFermeture|date('H:i') }}</td>
                            </tr>
                     {% endif %}
                 {% endfor %}
                 </tbody>
             </table>
             <div class="slider">
                 <div class="item">
                     <ul id="content-slider" class="content-slider">
                         {% for photo in prestataire.photo %}
                             <li>
                                 <img src="{{ asset('img/' ~ photo.nom) }}" />
                             </li>
                         {% endfor %}
                     </ul>
                 </div>
             </div>
             <div class="col-10 prestation">
                 <h5>Nos préstations</h5>
                 <ul>
                     <li>
                         <p>nom de la prestation</p>
                         <p>prix de la prestation</p>
                     </li>
                 </ul>
             </div>
         </div>

     {% endblock %}
     {% block footer %}
         {{ parent() }}
     {% endblock %}
     {% block javascripts %}
         {{ parent() }}
         <!-- //Js -->
         <script src="{{ asset('js/slider.js') }}"></script>
     {% endblock %}
 {% endblock %}