{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/affichage_prestataire.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}" />
{% endblock %}
 {% block body %}
     {% block header %}
         {{ parent() }}
     {% endblock %}
     {% block content %}
         <div class="container fiche_prestataire">
             <h2 class="text-uppercase">{{ prestataire }}</h2>
             <p><i class="fas fa-map-marker-alt"></i> {{ prestataire.adresseEntreprise}}, {{ prestataire.cpEntreprise}} {{ prestataire.villeEntreprise}}</p>

             <div class="row">
                 <div class="col-lg-3 col-12">
                     <img class="avatar col-lg-12 col-4" src="{{ asset('img/' ~ prestataire.avatar) }}" />
                 </div>
                 <div class="offset-lg-1 col-lg-8 col-12">
                     <p>{{ prestataire.descriptionEntreprise }}</p>
                 </div>
             </div>
             <table class="table">
                 <thead>
                    <tr>
                        <td>Jour</td>
                        <td>Ouverture</td>
                        <td>Fermeture</td>
                    </tr>
                 </thead>
                 <tbody>
                 {% for jour in prestataire.jour %}
                     {% if jour == 1  %}
                             <tr>
                                 <td>Lundi</td>
                                 <td>{{ prestataire.horaires.lundiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.lundiFermeture|date('H:i') }}</td>
                             </tr>
                     {% elseif jour == 2  %}
                             <tr>
                                 <td>Mardi</td>
                                 <td>{{ prestataire.horaires.mardiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.mardiFermeture|date('H:i') }}</td>
                             </tr>
                     {% elseif jour == 3  %}
                            <tr>
                                 <td>Mercredi</td>
                                 <td>{{ prestataire.horaires.mercrediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.mercrediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 4  %}
                            <tr>
                                 <td>Jeudi</td>
                                 <td>{{ prestataire.horaires.jeudiOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.jeudiFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 5  %}
                            <tr>
                                 <td>Vendredi</td>
                                 <td>{{ prestataire.horaires.vendrediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.vendrediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 6  %}
                            <tr>
                                 <td>Samedi</td>
                                 <td>{{ prestataire.horaires.samediOuverture|date('H:i') }}</td>
                                 <td>{{ prestataire.horaires.samediFermeture|date('H:i') }}</td>
                            </tr>
                     {% elseif jour == 7  %}
                            <tr>
                                <td>Dimanche</td>
                                <td>{{ prestataire.horaires.dimancheOuverture|date('H:i') }}</td>
                                <td>{{ prestataire.horaires.dimancheFermeture|date('H:i') }}</td>
                            </tr>
                     {% endif %}
                 {% endfor %}
                 </tbody>
             </table>
             <div class="slider">
                 <div class="item">
                     <ul id="content-slider" class="content-slider">
                         {% for photo in prestataire.photo %}
                             <li>
                                 <img src="{{ asset('img/' ~ photo.nom) }}" />
                             </li>
                         {% endfor %}
                     </ul>
                 </div>
             </div>
             <div>
                 <h5>Nos préstations</h5>
                 <ul>
                     <li>
                         <p>nom de la prestation</p>
                         <p>prix de la prestation</p>
                     </li>
                 </ul>
             </div>
         </div>

     {% endblock %}
     {% block footer %}
         {{ parent() }}
     {% endblock %}
     {% block javascripts %}
         {{ parent() }}
         <!-- //Js -->
         <script src="{{ asset('js/slider.js') }}"></script>
     {% endblock %}
 {% endblock %}