{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/affichage_prestataire.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/slider.css') }}" />
{% endblock %}
 {% block body %}
     {% block header %}
         {{ parent() }}
     {% endblock %}
     {% block content %}
         <div class="container fiche_prestataire">
             <h2 class="text-uppercase">{{ prestataire }}</h2>
             <p><i class="fas fa-map-marker-alt"></i> {{ prestataire.adresseEntreprise}}, {{ prestataire.cpEntreprise}} {{ prestataire.villeEntreprise}}</p>

             <div class="row">
                 <div class="col-lg-3 col-12">
                     <img class="avatar col-lg-12 col-4" src="{{ asset('img/' ~ prestataire.avatar) }}" />
                 </div>
                 <div class="offset-lg-1 col-lg-8 col-12">
                     <p>{{ prestataire.descriptionEntreprise }}</p>
                 </div>
             </div>
             {% for jour in prestataire.jour %}
                 {% if jour == 1  %}
                     <div class="horaire">
                         <p>Lundi</p>
                         <p class="horaire_heure">{{ prestataire.horaires.lundiOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.lundiFermeture|date('H:i') }}</p>
                     </div>
                 {% elseif jour == 2  %}
                     <div class="horaire">
                         <p>Mardi</p>
                         <p class="horaire_heure">{{ prestataire.horaires.mardiOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.mardiFermeture|date('H:i') }}</p>
                     </div>
                 {% elseif jour == 3  %}
                     <div class="horaire">
                         <p>Mercredi</p>
                         <p class="horaire_heure"></p>{{ prestataire.horaires.mercrediOuverture|date('H:i') }}
                         <p class="horaire_heure"></p>{{ prestataire.horaires.mercrediFermeture|date('H:i') }}
                     </div>
                 {% elseif jour == 4  %}
                     <div class="horaire">
                         <p>Jeudi</p>
                         <p class="horaire_heure">{{ prestataire.horaires.jeudiOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.jeudiFermeture|date('H:i') }}</p>
                     </div>
                 {% elseif jour == 5  %}
                     <div class="horaire">
                         <p>Vendredi</p>
                         <p class="horaire_heure">{{ prestataire.horaires.vendrediOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.vendrediFermeture|date('H:i') }}</p>
                     </div>
                 {% elseif jour == 6  %}
                     <div class="horaire">
                         <p>Samedi</p>
                         <p class="horaire_heure">{{ prestataire.horaires.samediOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.samediFermeture|date('H:i') }}</p>
                     </div>
                 {% elseif jour == 7  %}
                     <div class="horaire">
                         <p>Dimanche</p>
                         <p class="horaire_heure">{{ prestataire.horaires.dimancheOuverture|date('H:i') }}</p>
                         <p class="horaire_heure">{{ prestataire.horaires.dimancheFermeture|date('H:i') }}</p>
                     </div>
                 {% endif %}
             {% endfor %}
             <div class="slider">
                 <div class="item">
                     <ul id="content-slider" class="content-slider">
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                         <li>
                             <img src="{{ asset('img/5b801509667d6.jpeg') }}" />
                         </li>
                     </ul>
                 </div>
             </div>
             <div>
                 <h5>Nos préstations</h5>
                 <ul>
                     <li>
                         <p>nom de la prestation</p>
                         <p>prix de la prestation</p>
                     </li>
                 </ul>
             </div>
         </div>

     {% endblock %}
     {% block footer %}
         {{ parent() }}
     {% endblock %}
     {% block javascripts %}
         {{ parent() }}
         <!-- //Js -->
         <script src="{{ asset('js/slider.js') }}"></script>
     {% endblock %}
 {% endblock %}