{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}


{% block body %}
    {% block header %}
    {{ parent() }}
    {% endblock %}
    {% block content %}
        <a class="button_home" href="#">
            <div class="col-6 link_reser">
                <p>Reserver une prestation</p>
                <br>
                <span><p><i class="fas fa-caret-right"></i></p></span>
            </div>
        </a>
        <a class="button_home" href="#">
            <div class="col-6 link_prest">
                <span><p><i class="fas fa-caret-left"></i></p></span>
                <br>
                <p>Devenir prestataire</p>
            </div>
        </a>
    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <!-- //Js -->
    <script src="{{ asset('js/burger_menu.js') }}"></script>
{% endblock %}