{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/accueil.css') }}" />
{% endblock %}


{% block body %}
    {% block header %}
    {{ parent() }}
    {% endblock %}
    {% block content %}
        {{ parent() }}

        <div class="main_content">
            <div class="left">
                <a href="{{ path('recherche_presta') }}">
                    <p>
                        <span class="d-block">Réserver</span>
                        <span class="d-block">une</span>
                        <span class="d-block">prestation</span>
                    </p>
                    <i class="fas fa-caret-right"></i>
                </a>
            </div>
            <div class="right">
                <a href="#">
                    <i class="fas fa-caret-left"></i>
                    <p>
                        <span class="d-block">Devenir</span>
                        <span class="d-block">prestataire</span>
                    </p>
                </a>
            </div>
        </div>



    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
