{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil-client.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <h2 class="text-uppercase form_title font-weight-bold">Mon profil</h2>
        <span class="title_line"></span>
              <div class="main_content">
                {{ form_start(form) }}
                <h4 class="text-uppercase offset-1">Pseudo</h4>
                <span class="title_line offset-1 col-xl-3"></span>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.pseudo) }}
                </div>
                <h4 class="text-uppercase offset-1">Avatar</h4>
                <span class="title_line offset-1 col-xl-3"></span>
                {% if original_image %}
                    <div class="offset-2">
                        <img class="avatar_actuel" src="{{ asset('/img/' ~ original_image) }}" height="200px">
                    </div>
                {% endif %}


                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.avatar) }}
                </div>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.description) }}
                </div>
                <h4 class="text-uppercase offset-1">Coordonées</h4>
                <span class="title_line offset-1 col-xl-3"></span>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.adresse) }}
                </div>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.ville) }}
                </div>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.cp) }}
                </div>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.email) }}
                </div>
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.tel) }}
                </div>

                <div class="form-btn-group offset-4 offset-sm-4 offset-md-5 offset-lg-6 offset-xl-7 btn-modif">
                    <button type="submit" class="modification_form_button">
                        Modifier
                    </button>
                </div>
                {{ form_end(form) }}
              </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
