{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/profil-client.css') }}" />
{% endblock %}

{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        <h2 class="text-uppercase form_title font-weight-bold">Mon Espace PRO</h2>
        <span class="title_line"></span>

        {% if prestataire.avatar and prestataire.descriptionEntreprise and prestataire.prestation %}
        {% else %}
        <div class="row">
            <div class="col-12 col-md-8 offset-1">
                Pour que votre profil soit disponible dans la liste de recherche de prestataires,<br>
                Vous devez mettre à jour votre profil en ajoutant : un avatar, une description de votre activité et vos prestations !
            </div>
        </div>
        {% endif %}
        <br>

        <div class="col-12">
            <div class="col-12">
                {{ form_start(form) }}
                <h4 class="text-uppercase offset-1">Photo de profil</h4>
                <span class="title_line offset-1 col-xl-3"></span>
                {% if original_image %}
                    <div class="offset-2">
                       <img class="avatar_actuel" src="{{ asset('/img/' ~ original_image) }}" height="200px">
                    </div>
                {% endif %}
                <div class="col-xl-4 offset-1">
                    {{ form_widget(form.avatar) }}
                </div>
                <br>

                <h4 class="text-uppercase offset-1">Coordonées</h4>
                <span class="title_line offset-1 col-xl-3"></span>

                <div class="col-xl-4 offset-1">
                    <div class="col-md-8 col-sm-9 form-field">
                        {{ form_widget(form.adresse_entreprise) }}
                    </div>
                    <div class="col-md-4 col-sm-6 form-field">
                        {{ form_widget(form.tel_entreprise) }}
                    </div>
                </div>
                <br>

                <div class="xl-4 offset-1">
                    <div class="col-md-4 col-sm-4 ville">
                        {{ form_widget(form.ville_entreprise) }}
                    </div>
                    <div class="col-md-4 col-sm-4 cp">
                        {{ form_widget(form.cp_entreprise) }}
                    </div>
                </div>
                <br>
                <h4 class="text-uppercase offset-1">Activité</h4>
                <span class="title_line offset-1 col-xl-3"></span>

                <div class=" xl-4 offset-1">
                    <div class="col-md-3 lieu">
                        {{ form_row(form.profession) }}
                    </div>
                    <div class="col-md-3 lieu">
                        {{ form_row(form.lieu_prestation) }}
                    </div>
                    <div class="col-md-6 col-sm-9 form-field">
                        {{ form_row(form.description_entreprise) }}
                    </div>
                </div>
                <br>
                <h4 class="text-uppercase offset-1">Planning</h4>
                <span class="title_line offset-1 col-xl-3"></span>
                <div class="xl-4 offset-1">
                    <div class="col-md-3">
                        {{ form_row(form.jour) }}
                    </div>
                    <div class="col-md">
                        <table class="table horraire">
                            <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id ="horaire-lundi">
                                <th>Horaire Lundi</th>
                                <td>{{ form_row(form.horaires.lundi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.lundi_fermeture) }}</td>
                            </tr>
                            <tr id ="horaire-mardi">
                                <th>Horaire Mardi</th>
                                <td>{{ form_row(form.horaires.mardi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.mardi_fermeture) }}</td>
                            </tr>
                            <tr  id ="horaire-mercredi">
                                <th>Horaire Mercredi</th>
                                <td>{{ form_row(form.horaires.mercredi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.mercredi_fermeture) }}</td>
                            </tr>
                            <tr  id ="horaire-jeudi">
                                <th>Horaire Jeudi</th>
                                <td>{{ form_row(form.horaires.jeudi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.jeudi_fermeture) }}</td>
                            </tr>
                            <tr  id ="horaire-vendredi">
                                <th>Horaire Vendredi</th>
                                <td>{{ form_row(form.horaires.vendredi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.vendredi_fermeture) }}</td>
                            </tr>
                            <tr  id ="horaire-samedi">
                                <th>Horaire Samedi</th>
                                <td>{{ form_row(form.horaires.samedi_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.samedi_fermeture) }}</td>
                            </tr>
                            <tr  id ="horaire-dimanche">
                                <th>Horraire Dimanche</th>
                                <td>{{ form_row(form.horaires.dimanche_ouverture) }}</td>
                                <td>{{ form_row(form.horaires.dimanche_fermeture) }}</td>
                            </tr>
                            </tbody>
                        </table>
                </div >
                <div class="col-md-3">
                    <div class="col">
                        <a href="" class="inscription_form_button">
                            Gestion des Photos
                        </a>
                    </div>
                    <div class="col">
                        <a href="" class="inscription_form_button">
                            Gestion des Prestations
                        </a>
                    </div>
                </div>
            </div>
            <div class="form-btn-group offset-1 offset-md-9">
                <button type="submit" class="inscription_form_button">
                    Valider
                </button>
            </div>
            {{ form_end(form) }}
        </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/afficher_horraire.js') }}"></script>
    {% endblock %}
{% endblock %}