<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}BOOKR - site de e-réservation{% endblock %}</title>
        {% block stylesheets %}
            {# librairie #}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            {# css #}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/burger_menu.css') }}" />
        {% endblock %}
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $( function() {
                $( "#recherche_jour" ).datepicker({
                    altField: "#datepicker",
                    closeText: 'Fermer',
                    prevText: 'Précédent',
                    nextText: 'Suivant',
                    currentText: 'Aujourd\'hui',
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                    weekHeader: 'Sem.',
                    dateFormat: 'yy-mm-dd'
                });
            } );

            function myFunction() {

                var annee = (document.getElementById("datepicker").value).substring(0, 4);
                var mois = (document.getElementById("datepicker").value).substring(5, 7);
                var jour = (document.getElementById("datepicker").value).substring(8, 10);
                var dateJour = annee+","+mois+","+jour;
                var d = new Date(dateJour);
                var n;
                switch (d.getDay()) {
                    case 0: n = 'Dimanche'; break;
                    case 1: n = 'Lundi'; break;
                    case 2: n = 'Mardi'; break;
                    case 3: n = 'Mercredi'; break;
                    case 4: n = 'Jeudi'; break;
                    case 5: n = 'Vendredi'; break;
                    case 6: n = 'Samedi';  break;
                    default: n='jour non disponible';
                }
                document.getElementById("demo").innerHTML = n;
            }
        </script>
    </head>
    <body>
        {% block body %}

            {% block header %}
            <header>
                <div class="wrapper">
                    <div id="burger_menu">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <nav class="burger_nav">
                        <ul>
                            <li>
                                <a class="text-uppercase" href="{{ path('app_security_register') }}">inscription / connexion</a>
                            </li>
                            <li>
                                <a class="text-uppercase">A propos<i class="fas fa-sort-down"></i></a>
                                <ul class="sous_menu">
                                    <li>
                                        <a href="#">L'équipe</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="text-uppercase">Nos services<i class="fas fa-sort-down"></i></a>
                                <ul class="sous_menu">
                                    <li>
                                        <a href="#">E-réservation</a>
                                    </li>
                                    <li>
                                        <a href="#">Futurs services</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="text-uppercase" href="{{ path('inscription_prestataire_index') }}">Devenez prestataire<i class="fas fa-sort-down"></i></a>
                                <ul class="sous_menu">
                                    <li>
                                        <a href="#">Le concept</a>
                                    </li>
                                    <li>
                                        <a href="#">Processus d'inscription</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <nav class="MastHead" data-role="header" data-position="fixed" data-tap-toggle="false">
                        <div class="HeaderLft">
                            <a href="#"><span class="text-uppercase">a propos</span><i class="fas fa-sort-down"></i></a>
                            <a href="#"><span class="text-uppercase">nos services</span><i class="fas fa-sort-down"></i></a>
                        </div>
                        <div class="HeaderRgt">
                            <a href="{{ path('app_security_register') }}"><span class="text-uppercase">connexion</span><i class="fas fa-sort-down"></i></a>
                            <a href="{{ path('inscription_prestataire_index') }}" class="parte_link"><span class="text-uppercase">Devenez prestataire</span></a>
                            <a href="#" class="icon_nav"><i class="fab fa-facebook"></i></a>
                            <a href="#" class="icon_nav"><i class="fab fa-instagram"></i></a>
                        </div>
                    </nav>

                    <div class="HeaderLogo">
                        <a href="{{ path('app_index_accueil') }}">
                            <img src="{{ asset('/img/logo_header.png') }}">
                        </a>

                        <br>
                        <p class="text-uppercase">e-réservation esthetique</p>
                    </div><div class="clearfix"></div>
                </div>

            </header>
            <div class="clearfix"></div>
            <div class="container search col-12">
            {% endblock %}
            {% block content %}
                    <div class="cat_type_nav">
                        <nav>
                            <a href="#">Coiffeur</a>
                            <a href="#">Prothesiste ongulaire</a>
                            <a href="#">Barbier</a>
                            <a href="#">Stylist des cils</a>
                            <a href="#">MakeUp Artist</a>
                        </nav>
                    </div>

            {% endblock %}

            {% block footer %}
            </div>
            <footer>
                <nav class="nav_bot_left">
                    <a href="#">Mentions légales</a>
                    <a href="#">Contact</a>
                    <a href="#">FAQ</a>
                </nav>
            </footer>
            {% endblock %}
            {% block javascripts %}
                <!-- librairies -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
                <!-- //Js -->
                <script src="{{ asset('js/burger_menu.js') }}"></script>

            {% endblock %}
        {% endblock %}

    </body>
</html>
