{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/inscription-prest_index.css') }}" />
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        {{ parent() }}

        <div class="main_content">
            <div class="col-lg-6 col-md-6 col-sm-12 text-left">
            <div class="col-lg-10 col-md-12 text-activation float-right">
                <p>Activez votre<br>profil professionnel<br>pour devenir prestataire</p>
                <br>
                <p class="note">Pour plus d'informations consulter la recherche <a href="#">Devenir prestataire</a></p>
                <a href="{{ path('inscription_prestataire_form') }}"><button type="button" class="btn valid btn-dark" >Activer</button></a>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 img_ecrans">
                <img src="{{ asset('img/img-ecran.png') }}" alt="">
            </div>
        </div>



    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
