{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recherche-presta.css') }}" />
{% endblock %}


{% block body %}
    {% block header %}
        {{ parent() }}
    {% endblock %}
    {% block content %}
        {% if prestataires is null %}
        <div class="cat_type_nav recherche">
            <nav>
                <ul>
                    <li><a href="{{ path('recherche_presta', {"recherche": {'profession': 'Coiffeur'}}) }}">Coiffeur</a></li>
                    <li><a href="{{ path('recherche_presta', {"recherche": {'profession': 'Prothésiste Ongulaire'}}) }}">Prothesiste ongulaire</a></li>
                    <li><a href="{{ path('recherche_presta', {"recherche": {'profession': 'Barbier'}}) }}">Barbier</a></li>
                    <li><a href="{{ path('recherche_presta', {"recherche": {'profession': 'Styliste du Regard'}}) }}">Stylist des cils</a></li>
                    <li><a href="{{ path('recherche_presta', {"recherche": {'profession': 'MakeUp Artist'}}) }}">MakeUp Artist</a></li>
                </ul>
            </nav>
        </div>
        {% else %}
            <h2 class="text-uppercase result_title">Ma recherche</h2>
            <span class="title_line"></span>
        {% endif %}
        {% if prestataires is null %}
        <div class="main_content ">
        {% else %}
        <div class="main_content result">
        {% endif %}
        {% if prestataires is null %}
            <div class="col-8 text-form">
                <p class="col-6">Trouver votre meilleur prestataire esthetique pres de chez vous.</p>
                <p class="note col-6">Service disponible dans toute l'Ile de france.</p>
            </div>
            <div class="col-8 form-inscripton">
        {% else %}
                <div class="col-8 form-inscripton result">
        {% endif %}
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                <div class="row col-12 form-content">
                    <div class="col">
                        <!-- p><input class="form-control" type="text" placeholder="Jour?" id="datepicker"></p>
                     <button class="btn-js" onclick="myFunction()">Try it</button>

                     <p id="demo"></p -->
                        {{ form_widget(form.jour) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.profession) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.cp_entreprise) }}
                    </div>
                    <div class="col lieu">
                        {{ form_widget(form.lieu_prestation) }}
                    </div>
                    <div class="form-btn-group col">
                        <button type="submit" class="inscription_form_button">
                            Rechercher
                        </button>
                    </div>
                </div>
                {{ form_end(form, {'render_rest': false}) }}
               </div>

            {% if prestataires is not null %}
                {% for prestataire in prestataires %}
                    <div class="result-content col-7">
                        <div class="col-9 prestataire-infos ">
                            <h2>{{ prestataire.nomEntreprise}} {#- <span>{{ prestataire.villeEntreprise}}</span>#}</h2>
                            <h4><i class="fas fa-map-marker-alt"></i> {{ prestataire.adresseEntreprise}}, {{ prestataire.cpEntreprise}} {{ prestataire.villeEntreprise}}</h4>
                            <div class="col-12">
                            <div class="col-5 img_avatar">
                                <img src="{{ asset('img/shaperie1.png') }}" alt="logo attente">
                            </div>
                            <div class="col-7 descrip-prestataire">
                                <p> Dans ce salon au look moderne vous retrouverez l'équipe et les savoir-faire
                                    uniques de la shaperie pour une barbe et une coupe parfaites !</p>
                                <p> La shaperie c'est en somme un salon trendy au style affirmé qui rspire</p>
                            </div>
                            </div>
                        </div>
                       <div class="col-3 col-md-4 left-info">
                            <p><span>Type de profession</span>:<br> {{ prestataire.profession|join(' | ')}}</p>
                            <p><span>Lieu de prestation</span>:<br> {{ prestataire.lieuPrestation|join(' | ')}}</p>
                            <p class="jour-dispo"><span class="label-jour">Jour disponibles</span>:<br>
                            {% for jours in prestataire.jour %}
                            {% if jours == 1 %}
                               <span>Lundi</span>
                            {% elseif jours == 2 %}
                               <span>Mardi</span>
                            {% elseif jours == 3 %}
                               <span>Mercredi</span>
                            {% elseif jours == 4 %}
                                <span>Jeudi</span>
                            {% elseif jours == 5 %}
                                <span>Vendredi</span>
                            {% elseif jours == 6 %}
                                <span>Samedi</span>
                            {% elseif jours == 7 %}
                                <span>Dimanche</span>
                            {% endif%}
                            {% endfor %}
                            </p>
                    </div>
                    </div>
                {% else %}
                    {% if prestataires == 'invalid' %}
                        <div class="result-content col-7 no-result">
                            <h3>Veuillez saisir au moins un critères de recherche</h3>
                        </div>
                    {% else %}

                <div class="result-content col-7 no-result">
                    <h3>Il n'y a pas de résultats</h3>
                </div>
                    {% endif %}
                {% endfor %}
                {% elseif prestataires == 'invalid' %}
                    <div class="result-content col-7 no-result">
                        <h3>Veuillez saisir au moins un critères de recherche</h3>
                    </div>
                {% endif %}
        </div>

    {% endblock %}
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/datepicker_querry.js') }}"></script>
    {% endblock %}
{% endblock %}
